#categoria-header h3 {
    text-align: center;
}

#alphaCateg {
    width: 40px;
    margin-right: 10px;
}

.product-header img {
    width: 100%;
}

.product-body ul{
    list-style: none;
    display: inline-flex;
    padding-left: 0px;
    font-size: 13px;
}

.product-body ul li i {
    color: #FFD700;
}

.product-body .title {
    font-size: 14px;
    font-weight: bolder;
    margin-top: 20px;
}

.description-item {
    height: 60px;
    overflow: hidden;
    font-size: 12px;
}

.color-product {
    width: 20px;
    height: 20px;
    border-radius: 9px;
    border: #a79f9f 1px solid;
}

.color-list li{
    margin-right: 5px;
}