/* HELPERS */
.alpha-color {
    color: #255992 !important;
}
.w-100 {
    width: 100%;
}

.pd-0 {
    padding: 0px;
}

.pd-top-20 {
    padding-top: 20px;
}

.pd-16c {
    padding-left: 16px;
    padding-right: 16px;
}

.mrb-5 {
    margin-bottom: 5px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5c {
    margin-bottom: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-0 {
    margin-right: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mt-10 {
    margin-top: 10px;
}

.br-16 {
    border-radius: 16px;
}

.br-16c {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.btn-alpha {
    background-color: #255992;
    color: white;
}

.btn-alpha:hover {
    border-color: black;
    color: #255992;
    background-color: white;
}

.btn-cart {
    background-color: rgb(38, 207, 142);
    color: black;
}

.btn-cart:hover {
    background-color: white;
    border-color: rgb(38, 207, 142);
    color: rgb(38, 207, 142);
}

.warning-visible {
    display: block;
    color: red;
}

.success-visible {
    display: block;
    color: green;
}

.warning-not, .success-not {
    display: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

.d-md {
    display: none;
}

@media (min-width:768px) {
    .d-md {
        display: grid;
    }
}


/* COLORES */

.ROJO{
    background-color: red;
}

.AMARILLO {
    background-color: yellow;
}

.VERDE {
    background-color: green;
}

.BLANCO, .TRANSPARENTE {
    background-color: white;
}

.NEGRO {
    background-color: black;
}

.ROSA {
    background-color: pink;
}

.MORADO {
    background-color: purple;
}

.AZUL {
    background-color: blue;
}

.PLATA {
    background-color: #c0c0c0;
}

.GRIS {
    background-color: #808080;
}

.NARANJA {
    background-color: orange;
}

.BEIGE {
    background-color: #E8C39E;
}

.CAFE {
    background-color: brown;
}

.custom-tooltip {
  --bs-tooltip-bg: #255992;
}

.br-l0 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.br-r0 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* NAVBAR */
#navbar {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    box-shadow: 0 0.125rem 0.125rem #255992;
}

#logo-img {
    width: 200px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

#navbar-menu {
    margin-left: 10px;
}

#categoria-nav {
    display: none;
}

#categoria-nav-mob {
    display: block;
}

@media (min-width:1000px) {
    #navbar-menu {
        margin-left: 40px;
    }

    #categoria-nav {
        display: block;
    }

    #categoria-nav-mob {
        display: none;
    }
}

@media (min-width:1400px) {
    #navbar-menu {
        margin-left: 100px;
    }
}

@media (min-width:1600px) {
    #navbar-menu {
        margin-left: 200px;
    }
}

.custom-li {
    margin-left: 0px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-40 {
    margin-right: 40px !important;
}

.fs-30 {
    font-size: 30px;
}

#menu-alpha {
    display: none;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width: 1250px;
}

.menu-active {
    display: block !important;
}

#holder {
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
}

.icon-menu {
    margin-right: 10px;
}

.link-catalogo {
    display:block;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.link-catalogo:hover{
    text-decoration: underline;
}

.catalogo {
    display: block;
}

.catalogo button {
    font-size: 14px;
    color: black;
}

#search-global {
    width: 200px;
}

@media (min-width:1000px) {
    .custom-li {
        margin-left: 20px;
    }

    #search-global {
        width: 150px;
    }
}
@media (min-width:1320px) {
    .custom-li {
        margin-left: 50px;
    }

    #search-global {
        width: 250px;
    }
}

@media (min-width:1500px) {
    #search-global {
        width: 350px;
    }
}

.sent-cart {
    display: block;
    text-align: center;
    background-color: #255992;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    font-size: 18px !important;
    border-radius: 8px;
}



/* FOOTER STYLES */

#email-news-error, #email-news-success {
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
}

footer {
    padding: 32px;
    background-color: #e9ecef;
}

#destacados,
#ayuda,
#contactanos {
    list-style: none;
    padding-left: 0px;
}

#destacados li a,
#ayuda li a,
#contactanos li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#contactanos li p{
    font-size: 14px;
}

.fb-color {
    color: #3b5998;
}

.insta-color {
    color: #C13584;
}

.whats-color {
    color: #25D366;
}

#redes-sociales {
    list-style: none;
    display: inline-flex;
    padding-left: 0px;
}

#redes-sociales li {
    margin-right: 10px;
}

#redes-sociales li a {
    font-size: 25px;
}

/* Carrito de Cotizaciones */

#menu-carrito {
    margin-left: -250px;
}

.carrito {
    width: 250px;
}

.carrito p {
    text-align: center;
}

.carrito ul {
    padding-left: 0px;
    list-style: none;
}

.carrito ul li {
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 8px;
}

.carrito ul li:hover {
    background-color: #f8f8f8;
}

#cart-number {
    display: none;
}

.alert-warning,
.alert-success {
    display: none;
    position: fixed;
    right: 10px;
}

#searched-items {
    display: none;
    position: absolute;
    width: 250px;
    list-style: none;
    background-color: white;
    height: 200px;
    overflow-y: scroll;
    padding-left: 0px;
    padding: 16px;
}

#searched-items li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.empty-cart {
    color: orange;
}

.empty-cart:hover {
    color: red;
}

.customH {
    display: none;
}

.customV {
    display: block;
}

@media (min-width:1276px) {
    .customV {
        display: none;
    }

    .customH{
        display: block;
    }
}
