.grid-box{
	padding: 10px;
}

.fancy_text{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}

.display-header p{
	width: 600px;
	text-align: center;
	display: block;
	margin:0px auto;
	margin-bottom: 50px;
}