body,html{
  /*font-family: "Roboto Slab", "Times New Roman", serif !important;*/
  font-family: 'Montserrat', sans-serif;
}

body, html, canvas {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* Estilos Navbar */


.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
 
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

#home-navbar{
  box-shadow: 0 0.125rem 0.125rem #255992 !important;
  border-radius: 8px;
}

#auth-nav{
  padding-left: 0px;
}
#auth-nav li{
  margin-left: 8px;
  margin-right: 8px;
}

#auth-nav li a i{
  margin-right: 5px;
  color: #255992;
}

.perfil-img{
  width: 50px;
  border-radius: 5px;
}

.nav-item{
  margin-left: 5px;
  margin-right: 5px;
}

.alpha_icon{
  width: 40px;
}


/* END Estilos NavBar */

.gallery_alpha{
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logo_alpha{
  width: 110px;
}

.layout-top{
  margin-top: 0px;
  padding:0px;
}

@media(min-width:600px){
  #logo_alpha{
    width: 160px;
  }
  .layout-top{
    margin-top: 90px;
    padding:20px;
  }
}


/*========================================================
        ESTILOS BARRA DE BUSQUEDA
=========================================================*/

#float-search{
  position: fixed;
  z-index: 4000;
  right: 0px;
  margin-top: 30px;
  margin-right: 10px;
}

.searchbar
{
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #255992;
  border-radius: 30px;
  padding: 10px;
}

.search_input
{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search_input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.search_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

.search_input::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

.searchbar:hover > .search_input
{
  padding: 0 10px;
  width: 100%;
  caret-color:white;
  transition: width 0.4s linear;
}

@media(min-width:600px){
  .searchbar:hover > .search_input
  {
    width: 450px;
  }
}

.searchbar:hover > .search_icon
{
  background: white;
  color: #e74c3c;
  font-size: 10px;
  margin-top: -24px;
}

.search_icon
{
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  margin-top: -0px;
}

@media(min-width:600px){
  .searchbar:hover > .search_icon{
    margin-top: 0px;
  }
}



/*========================================================
        ESTILOS MEGA MENÚ
=========================================================*/

.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}



/*========================================================
        ESTILOS NAVBAR
=========================================================*/

.custom-a{
  font-size: 11px;
  padding-left: 0px !important;
}

.category-title{
    color: #255992;
    font-weight: bolder;
}

.custom-a:hover{
  color: black;
}

#categorias-box .fa{
  color: #255992;
  margin-right: 10px;
}



/*========================================================
        ESTILOS PAGINA CATEGORIA
=========================================================*/

.ecommerce-application .content-body {
  position: relative;
}

.ecommerce-application .shop-content-overlay {
  position: absolute;
  top: 4.2rem;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
  opacity: 0;
}

.ecommerce-application .shop-content-overlay.show {
  opacity: 1;
  z-index: 1;
}

.ecommerce-application .sidebar-shop .sidebar-close-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  font-size: 1.25rem;
  z-index: 5;
  cursor: pointer;
}

.ecommerce-application .sidebar-shop .filter-heading {
  font-weight: 700;
  color: #626262;
  position: relative;
  top: -7px;
}

.ecommerce-application .sidebar-shop .vs-radio-con input:checked ~ span {
  color: #7367f0;
}

.ecommerce-application .sidebar-shop .filter-title {
  font-weight: 700;
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal {
  height: 0.285rem;
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-base {
  height: 0.285rem;
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle {
  right: -1.071rem !important;
  top: -0.428rem;
  width: 16px;
  height: 16px;
  border-width: 0.142rem;
  line-height: 1.15;
  cursor: pointer;
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle .noUi-tooltip {
  opacity: 0;
  font-size: 0.75rem;
  background-color: #7367f0;
  color: #fff;
  border-radius: 0.357rem;
  border: none;
  padding: 0.142rem 0.357rem;
  transform: translate(-50%, -50%);
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle .noUi-tooltip:before {
  content: "$ ";
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle:hover {
  transform: scale(1.2);
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle:active {
  transform: scale(1);
  border-width: 0.5rem;
  transition: 0.25s ease;
}

.ecommerce-application .sidebar-shop .range-slider.noUi-horizontal .noUi-handle:active .noUi-tooltip {
  opacity: 1;
}

.ecommerce-application .sidebar-shop .ratings-list .ratings-list-item {
  font-size: 1.5rem;
  cursor: pointer;
}

.ecommerce-application .sidebar-shop .ratings-list ~ .stars-received {
  margin-top: 0.35rem;
}

.ecommerce-application .sidebar-shop {
  margin-top: 2rem;
  width: 260px;
  z-index: 4;
}

.ecommerce-application .ecommerce-header-items {
  display: flex;
  justify-content: space-between;
}

.ecommerce-application .ecommerce-header-items .view-options .view-btn-option {
  display: inline-block;
}

.ecommerce-application .ecommerce-header-items .view-options .view-btn-option .btn.view-btn {
  margin-right: 10px;
  background-color: #fff;
  padding: 0.5rem;
  color: #626262;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14) !important;
}

.ecommerce-application .ecommerce-header-items .view-options .view-btn-option .btn.view-btn i {
  font-size: 1.7rem;
}

.ecommerce-application .ecommerce-header-items .view-options .view-btn-option .btn.view-btn.active {
  color: #7367f0 !important;
}

.ecommerce-application .ecommerce-header-items .view-options .view-btn-option .btn.view-btn.active:hover,
.ecommerce-application .ecommerce-header-items .view-options .view-btn-option .btn.view-btn.active:active {
  color: #7367f0 !important;
}

.ecommerce-application .ecommerce-header-items .view-options .view-btn-option .btn.view-btn:hover,
.ecommerce-application .ecommerce-header-items .view-options .view-btn-option .btn.view-btn:active {
  color: #626262;
}

.ecommerce-application .ecommerce-header-items .view-options .select2 {
  margin-right: 10px;
  width: auto !important;
}

.ecommerce-application .ecommerce-header-items .view-options .select2 .select2-selection--single {
  border: none !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
}

.ecommerce-application .ecommerce-header-items .result-toggler {
  display: flex;
  align-items: flex-end;
}

.ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler {
  font-size: 1.7rem;
  padding-left: 0;
  margin-left: -6px;
}

.ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler:active,
.ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler:focus {
  outline: 0;
}

.ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler .navbar-toggler-icon i {
  color: #626262;
  vertical-align: middle;
}

.ecommerce-application .ecommerce-header-items .result-toggler .search-results {
  font-weight: 700;
  color: #626262;
  display: inline-block;
}

.ecommerce-application .search-product {
  height: 48px;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  font-size: 1.2rem;
  padding-left: 1rem;
}

.ecommerce-application .search-product ~ .form-control-position {
  top: 10px;
  right: 10px;
}

.ecommerce-application .search-product ~ .form-control-position i {
  font-size: 1.5rem;
}

.ecommerce-application .search-product::-moz-placeholder {
  font-size: 0.95rem;
}

.ecommerce-application .search-product:-ms-input-placeholder {
  font-size: 0.95rem;
}

.ecommerce-application .search-product::-ms-input-placeholder {
  font-size: 0.95rem;
}

.ecommerce-application .search-product::placeholder {
  font-size: 0.95rem;
}

.ecommerce-application .ecommerce-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.25);
}

.ecommerce-application .ecommerce-card .item-price {
  font-weight: 700;
}

.ecommerce-application .ecommerce-card .item-rating i {
  margin-left: 0.25rem;
  vertical-align: top;
}

.ecommerce-application .ecommerce-card .item-name {
  font-weight: 600;
  color: #2c2c2c;
}

.ecommerce-application .ecommerce-card .item-description {
  font-size: 0.875rem;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
}

.ecommerce-application .ecommerce-card .wishlist,
.ecommerce-application .ecommerce-card .cart {
  /*padding: 0.8rem 1rem;*/
  cursor: pointer;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.ecommerce-application .ecommerce-card .wishlist i,
.ecommerce-application .ecommerce-card .cart i {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.ecommerce-application .ecommerce-card p {
  color: #626262;
}

.ecommerce-application .ecommerce-card .wishlist {
  background-color: #f6f6f6;
  color: #2c2c2c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ecommerce-application .ecommerce-card .wishlist.added i {
  color: #ea5455;
}

.ecommerce-application .ecommerce-card .cart {
  background-color: #255992;
  color: #fff;
}

.ecommerce-application .ecommerce-card .cart .view-in-cart {
  color: #fff;
}

.ecommerce-application .grid-view,
.ecommerce-application .list-view {
  margin-top: 0.7rem;
}

.ecommerce-application .grid-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 28px;
       column-gap: 28px;
}

.ecommerce-application .grid-view .ecommerce-card {
  overflow: hidden;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-img {
  padding-top: 0.5rem;
  min-height: 15.85rem;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-wrapper {
  display: flex;
  justify-content: space-between;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-wrapper .item-price {
  position: relative;
  top: 5px;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-wrapper .shipping {
  display: none;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-company {
  display: none;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-options {
  display: flex;
  flex-wrap: wrap;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-options .cart,
.ecommerce-application .grid-view .ecommerce-card .card-content .item-options .wishlist {
  flex-grow: 1;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-options .wishlist {
  padding: 0.8rem 2rem;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-options .item-wrapper .item-rating {
  display: none;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-options .item-wrapper .item-price {
  display: none;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-name {
  margin-top: 1rem;
}

.ecommerce-application .grid-view .ecommerce-card .card-content .item-name,
.ecommerce-application .grid-view .ecommerce-card .card-content .item-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ecommerce-application .grid-view .ecommerce-card .card-body {
  padding: 1rem;
  padding-bottom: 0;
}

.ecommerce-application .list-view {
  display: grid;
  grid-template-columns: 1fr;
}

.ecommerce-application .list-view .ecommerce-card {
  overflow: hidden;
}

.ecommerce-application .list-view .ecommerce-card .card-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-img {
  align-self: center;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ecommerce-application .list-view .ecommerce-card .card-content .card-body {
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-right: 1px solid #dae1e7;
}

.ecommerce-application .list-view .ecommerce-card .card-content .card-body .item-rating {
  display: none;
}

.ecommerce-application .list-view .ecommerce-card .card-content .card-body .item-price {
  display: none;
}

.ecommerce-application .list-view .ecommerce-card .card-content .card-body .item-name {
  margin-bottom: 0.25rem;
  font-size: 0.95rem;
}

.ecommerce-application .list-view .ecommerce-card .card-content .card-body .item-company {
  display: block;
  cursor: pointer;
  font-size: 0.875rem;
}

.ecommerce-application .list-view .ecommerce-card .card-content .card-body .item-company .company-name {
  color: #7367f0;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options {
  padding: 1rem;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options .item-wrapper {
  position: relative;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options .item-wrapper .item-rating {
  position: absolute;
  right: 0;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options .item-wrapper .item-cost .item-price {
  position: relative;
  top: 55px;
  font-size: 16px;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options .shipping {
  position: relative;
  top: 50px;
  color: #b8c2cc;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options .wishlist {
  margin-top: 84px;
  margin-bottom: 10px;
}

.ecommerce-application .list-view .ecommerce-card .card-content .item-options .wishlist,
.ecommerce-application .list-view .ecommerce-card .card-content .item-options .cart {
  border-radius: 6px;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .item-company {
  margin-bottom: 0;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .stock-status-in {
  color: #28c76f;
  font-weight: 400;
  font-size: 0.875rem;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .stock-status-out {
  color: #ea5455;
  font-weight: 400;
  font-size: 0.875rem;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .item-quantity {
  font-weight: 700;
  font-size: 0.875rem;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .item-quantity .quantity-title {
  margin-bottom: 0.5rem;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .item-quantity .quantity-counter-wrapper {
  margin-left: -10px;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .delivery-date,
.ecommerce-application .checkout-items .ecommerce-card .card-content .offers {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 1rem;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .delivery-date {
  color: #b8c2cc;
  margin-top: 1.8rem;
}

.ecommerce-application .checkout-items .ecommerce-card .card-content .offers {
  color: #28c76f;
}

.ecommerce-application .checkout-options .options-title {
  color: #b8c2cc;
}

.ecommerce-application .checkout-options .coupons {
  display: flex;
  justify-content: space-between;
}

.ecommerce-application .checkout-options .coupons .coupons-title {
  font-weight: 600;
}

.ecommerce-application .checkout-options .coupons .coupons-title p {
  margin-bottom: 0.5rem;
}

.ecommerce-application .checkout-options .coupons .apply-coupon {
  color: #7367f0;
  font-weight: 500;
  cursor: pointer;
}

.ecommerce-application .checkout-options .coupons .apply-coupon p {
  margin-bottom: 0.5rem;
}

.ecommerce-application .checkout-options .price-details {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.ecommerce-application .checkout-options .detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.ecommerce-application .checkout-options .detail .detail-title {
  color: #b8c2cc;
}

.ecommerce-application .checkout-options .detail .detail-title.detail-total {
  color: #626262;
  font-weight: 600;
}

.ecommerce-application .checkout-options .detail .detail-amt.discount-amt {
  color: #28c76f;
}

.ecommerce-application .checkout-options .detail .detail-amt.emi-details {
  color: #7367f0;
  cursor: pointer;
}

.ecommerce-application .checkout-options .detail .detail-amt.total-amt {
  font-weight: 600;
}

.ecommerce-application .payment-type .gift-card {
  cursor: pointer;
}

.ecommerce-application .payment-type .gift-card i {
  position: relative;
  top: 3px;
}

.ecommerce-application .wizard.checkout-tab-steps .steps ul li.error > a {
  color: #7367f0;
}

.ecommerce-application .wizard.checkout-tab-steps .steps ul li.error > a .step {
  border-color: #7367f0;
  background-color: #7367f0;
}

.ecommerce-application .wizard.checkout-tab-steps #checkout-address .form-group .error {
  color: #ea5455;
}

@media (max-width: 1200px) {
  .ecommerce-application .app-content {
    overflow: scroll;
  }
}

@media (max-width: 991.98px) {
  .ecommerce-application .sidebar-left .sidebar {
    position: absolute;
    top: 14rem;
  }

  .ecommerce-application .sidebar-left .sidebar .card {
    border-radius: 0;
    padding-bottom: 100vh;
    padding-bottom: calc(var(--vh, 1vh) * 100);
  }

  .ecommerce-application .sidebar-left .sidebar .card .card-body {
    padding-bottom: 100%;
  }

  .ecommerce-application .sidebar-left .sidebar .sidebar-shop {
    transform: translateX(-112%);
    transition: all 0.25s ease;
    position: absolute;
  }

  .ecommerce-application .sidebar-left .sidebar .sidebar-shop.show {
    transition: all 0.25s ease;
    transform: translateX(0);
  }

  .ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler {
    position: relative;
    top: 1.2rem;
  }

  .ecommerce-application .grid-view {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991.98px) {
  .ecommerce-application .ecommerce-header-items .result-toggler .search-results {
    display: inline-block;
  }

  .ecommerce-application .ecommerce-header-items .result-toggler .shop-sidebar-toggler {
    top: 0.5rem;
  }

  .ecommerce-application .ecommerce-header-items .sidebar-shop {
    transform: translateX(-123%);
    transition: all 0.2s ease;
    z-index: 5;
  }

  .ecommerce-application .ecommerce-header-items .sidebar-shop.show {
    position: absolute;
    transform: translateX(0);
    transition: all 0.2s ease;
  }

  .ecommerce-application .list-view .ecommerce-card .card-content {
    grid-template-columns: 1fr;
  }

  .ecommerce-application .list-view .ecommerce-card .card-content .item-img {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .ecommerce-application .list-view .ecommerce-card .card-content .card-body {
    border: none;
  }
}

@media (max-width: 576px) {
  .ecommerce-application .sidebar-shop {
    top: 0;
  }

  .ecommerce-application .grid-view {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .ecommerce-application .ecommerce-header-items .shop-sidebar-toggler {
    display: none;
  }

  .ecommerce-application .wishlist-items.grid-view {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .ecommerce-application .product-checkout.list-view {
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

@media (max-width: 360px) {
  .ecommerce-application .sidebar-shop {
    top: 1.5rem;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ecommerce-application .grid-view {
    display: block;
  }

  .ecommerce-application .grid-view .ecommerce-card {
    float: left;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .ecommerce-application .list-view {
    display: block;
  }

  .ecommerce-application .list-view .ecommerce-card .card-content {
    display: flex;
  }

  .ecommerce-application .list-view .ecommerce-card .card-content .item-options .wishlist,
  .ecommerce-application .list-view .ecommerce-card .card-content .item-options .cart {
    padding: 0.8rem 3rem;
    display: flex;
    justify-content: center;
  }

  .ecommerce-application #ecommerce-pagination .row {
    clear: both;
  }
}



.wishlist button{
  display: block;
  color: #255992;
  padding: 8px;
  border-width: 0px;
  width: 100%;
}

.cart a{
  color: white !important;
  display: block;
  padding: 8px;
}

.category-icon{
  font-size: 20px;
  margin-right: 15px;
  color: #255992;
}

.item-not-found{
  display: inline-flex;
  margin: 0px auto;
  margin-top: 100px;
}

.item-not-found img{
  width: 180px;
}

.item-not-found h3{
  margin-top: 80px;
  margin-left: 50px;
}

.title-category{
  text-align: center;
  margin-bottom: 10px;
  color: #255992;
}


/*========================================================
        ESTILOS PAGINA PRINCIPAL DELIVERY AND STUFF
=========================================================*/


.info {
	 max-width: 360px;
	 margin: 0 auto;
	 padding: 70px 20px 30px;
}
 .info .icon {
	 color: #999;
}
 .info .icon > i {
	 font-size: 3.85rem;
}
 .info .info-title {
	 color: #3c4858;
   margin: 1.75rem 0 0.875rem;
   font-size: 1.2rem;
}
 .info p {
   color: #999;
   font-size: 13px;
}
 .info-horizontal .icon {
	 float: left;
	 margin-top: 24px;
	 margin-right: 10px;
}
 .info-horizontal .icon > i {
	 font-size: 2.25rem;
}
 .info-horizontal .description {
	 overflow: hidden;
}
 .icon.icon-primary {
	 color: #9c27b0;
}
.icon.icon-info {
	 color: #00bcd4;
}
.icon-info:before {
    content: "" !important;
}
 .icon.icon-success {
	 color: #4caf50;
}
 .icon.icon-warning {
	 color: #ff9800;
}
 .icon.icon-danger {
	 color: #f44336;
}
.icon.icon-rose {
	 color: #e91e63;
}

.icon.icon-catalog-3 {
	 color: #9c27b0;
}

/*========================================================
        ESTILOS PAGINA PRINCIPAL  TITULOS
=========================================================*/



.title-home{
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
  font-size: 1.8rem;
  line-height: 1.15em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

@media(min-width:600px){
  .title-home{
    font-size: 2.3125rem;
  }
}


/*========================================================
        ESTILOS PAGINA PRINCIPAL SOCIAL MEDIA
=========================================================*/

.socialMedia {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  margin-left: 10px;
}

.socialMedia li {
  list-style: none;
  margin: 10px 10px;
}

.socialMedia li a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  background: #f7c93e;
  border-radius: 50%;
  font-size: 25px;
  color: white;
  transition: .5s;
}

.socialMedia li a i{
  font-size: 20px;
} 

@media(min-width:600px){
  .socialMedia li a {
    width: 40px;
    height: 40px;
    line-height: 41.8px;
  } 
  .socialMedia li a i{
    font-size: unset;
  }

  .socialMedia {
    margin-left: 0px;
  }
}

.socialMedia li .whatsapp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*background: #1b9a59;*/
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.socialMedia li .whatsapp:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #1b9a59;
}

.socialMedia li .whatsapp:hover {
  color: #1b9a59;
  box-shadow: 0 0 5px #1b9a59;
  text-shadow: 0 0 5px #1b9a59;
}



.socialMedia li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /*background: #4267b2;*/
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.socialMedia li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #4267b2;
}

.socialMedia li a:hover {
  color: #4267b2;
  box-shadow: 0 0 5px #4267b2;
  text-shadow: 0 0 5px #4267b2;
}


/*========================================================
        ESTILOS PAGINA PRINCIPAL CATALOGOS
=========================================================*/

.toAnimate a:hover{
  color: #3c4858;
  text-decoration: none;

}


.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2098d1;
  border-radius: 1rem;
  border-color: #2098d1 !important;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #255992 !important;
  font-size: 2.4rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}


/*========================================================
        ESTILOS PAGINA PRINCIPAL ABOUT US
=========================================================*/

.box-us p{
    letter-spacing: 1px;
    text-align: justify;
    line-height: 1.6rem;
    font-size: 13px;
}

.box-us{
	 
	 position: relative;
	 padding: 20px 20px;
	 background: white;
	 border-top-right-radius: 10px;
	 border-bottom-left-radius: 10px;
   transition: all 1s;
   width: 100%;
}

@media(min-width:600px){
  .box-us{
    padding: 40px 40px;
  }
  .box-us p{
      letter-spacing: 1.5px;
      line-height: 2.3rem;
  }
}
@media(min-width:800px){
  .box-us{
    width: 800px;
  }
}
.box-us:after, .box-us:before {
	 content: " ";
	 width: 10px;
	 height: 10px;
	 position: absolute;
	 border: 0px solid #fff;
	 transition: all 1s;
}
 .box-us:after {
	 top: -1px;
	 left: -1px;
	 border-top: 5px solid #2098d1;
	 border-left: 5px solid #2098d1;
}
 .box-us:before {
	 bottom: -1px;
	 right: -1px;
	 border-bottom: 5px solid #2098d1;
	 border-right: 5px solid #2098d1;
}
 .box-us:hover {
	 border-top-right-radius: 0px;
	 border-bottom-left-radius: 0px;
}
 .box-us:hover:before, .box-us:hover:after {
	 width: 100%;
	 height: 100%;
}

/*========================================================
        ESTILOS PAGINA PRINCIPAL FOOTER
=========================================================*/

.new_footer_area {
    background: #e8ecf1;
   
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(min-width:600px){
  .new_footer_top .company_widget .f_subscribe_two .btn_get{
    margin-bottom: 0px;
  }
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
.new_footer_area h1,.new_footer_area h2,.new_footer_area h3,.new_footer_area h4,.new_footer_area h5,.new_footer_area h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}


/*========================================================
        ESTILOS PAGINA CATEGORIAS
=========================================================*/

.box-category{
  border: 2px solid #255992;
  padding: 5px;
  border-radius:5px;
  
}

.list-category{
  list-style: none;
  padding-left: 10px;
}

.list-category li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-category li a{
  color: black;
  font-size: 13px;
}

.list-category li a:hover{
  text-decoration: none;
}

.wishlist{
  width: 99%;
}

.subcategory-list{
  list-style: circle;
  padding-left: 2px;
}

.subcategory-list li{
  margin-top: 5px;
  margin-bottom: 5px;
}

.subcategory-list li a{
  font-size: 11px;
}

.subcategory-list li a:hover{
  text-decoration: underline;
}

.list-category .card{
  border: 0px;
}


/*========================================================
        ESTILOS PAGINA HELPERS
=========================================================*/

.center-item{
  display: block;
  margin: 0px auto;
}


/*========================================================
        ESTILOS PAGINA DETALLES PRODUCTO
=========================================================*/

#product-descripction h3{
  margin-bottom: 5px;
  text-align: center;
  margin-top: 10px;
} 

@media(min-width:600px){
  #product-descripction h3{
    text-align: unset;
    margin-top: 0px;
  }
}

#product-colors{
  padding-left: 20px;
}


#product-descripction p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-radios{
  margin-bottom: 30px;
}

.custom-radios div {
	 display: inline-block;
}
 .custom-radios input[type="radio"] {
	 display: none;
}
 .custom-radios input[type="radio"] + label {
	 color: #333;
	 font-family: Arial, sans-serif;
	 font-size: 14px;
}
 .custom-radios input[type="radio"] + label span {
	 display: inline-block;
	 width: 40px;
	 height: 40px;
	 margin: -1px 4px 0 0;
	 vertical-align: middle;
	 cursor: pointer;
	 border-radius: 50%;
	 border: 2px solid #fff;
	 box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	 background-repeat: no-repeat;
	 background-position: center;
	 text-align: center;
	 line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
	 opacity: 0;
	 transition: all 0.3s ease;
}
.custom-radios input[type="radio"]#Negro + label span {
	 background-color: black;
}
.custom-radios input[type="radio"]#Azul + label span {
	 background-color: blue;
}
.custom-radios input[type="radio"]#Azul_claro + label span {
	 background-color: #3498db;
}
.custom-radios input[type="radio"]#Amarillo + label span {
	 background-color: #f1c40f;
}
.custom-radios input[type="radio"]#Naranja + label span {
	 background-color: #e74c3c;
}
.custom-radios input[type="radio"]#Blanco + label span {
	 background-color: rgb(243, 237, 237);
}
.custom-radios input[type="radio"]#Verde + label span {
	 background-color: green;
}
.custom-radios input[type="radio"]#Gris + label span {
	 background-color: gray;
}
.custom-radios input[type="radio"]#Morado + label span {
	 background-color: purple;
}
.custom-radios input[type="radio"]#Rojo + label span {
	 background-color: red;
}
.custom-radios input[type="radio"]#Rosa + label span {
	 background-color: pink;
}
.custom-radios input[type="radio"]#Plata + label span {
	 background-color: #c0c0c0;
}

.custom-radios input[type="radio"]#Azul_Translucido + label span {
	 background-color: #3498db;
}
.custom-radios input[type="radio"]#Negro_Translucido + label span {
	 background-color: #443838;
}
.custom-radios input[type="radio"]#Rojo_Translucido + label span {
	 background-color: #e65353;
}
.custom-radios input[type="radio"]#Gris_Mate + label span {
	 background-color: #8e8b8b;
}

.custom-radios input[type="radio"]#NEGRO + label span {
	 background-color: black;
}
.custom-radios input[type="radio"]#AZUL + label span {
	 background-color: blue;
}
.custom-radios input[type="radio"]#AZUL_CLARO + label span {
	 background-color: #3498db;
}
.custom-radios input[type="radio"]#AMARILLO + label span {
	 background-color: #f1c40f;
}
.custom-radios input[type="radio"]#NARANJA + label span {
	 background-color: #e74c3c;
}
.custom-radios input[type="radio"]#CAFE + label span {
	 background-color: brown;
}
.custom-radios input[type="radio"]#BLANCO + label span {
	 background-color: rgb(243, 237, 237);
}
.custom-radios input[type="radio"]#VERDE + label span {
	 background-color: green;
}
.custom-radios input[type="radio"]#VERDE_CLARO + label span {
	 background-color: #87da87;
}
.custom-radios input[type="radio"]#DORADO + label span {
	 background-color: #daa520;
}
.custom-radios input[type="radio"]#GRIS + label span {
	 background-color: gray;
}
.custom-radios input[type="radio"]#MORADO + label span {
	 background-color: purple;
}
.custom-radios input[type="radio"]#ROJO + label span {
	 background-color: red;
}
.custom-radios input[type="radio"]#ROSA + label span {
	 background-color: pink;
}
.custom-radios input[type="radio"]#PLATA + label span {
	 background-color: #aaa9ad;
}
.custom-radios input[type="radio"]#MADERA + label span {
	 background-color: #da981ffa;
}

.custom-radios input[type="radio"]:checked + label span img {
   opacity: 1;
   margin-top: -9px;
}

#box-img{
  width: 300px;
  display: block;
  float: right;
  padding-right: 20px;
}

@media(min-width:600px){
  #box-img{
    width: 500px;
    float: right;
  }
}

#product-descripction, #ficha-tecnica, #producto-colors{
  padding-left: 20px;
}
 

#ficha-tecnica h4{
  margin-bottom: 30px;
}

#ficha-tecnica p{
  margin-bottom: 5px;
  margin-top: 1px;
}

#ficha-tecnica i{
  color: #255992;
}

#product-colors h4{
  margin-top: 30px;
  margin-bottom: 30px;
}

.productos_relacionados h4{
  margin-top: 50px;
}



.form-wizard textarea{
  width: 100%;
  border: 1px solid #255992;
  border-radius: 5px;
}

.producto_relacionado{
  color: black;
}

.producto_relacionado:hover{
  text-decoration: none;
  color: black;
}





/*========================================================
        ESTILOS PAGINA CONTACTO
=========================================================*/

.box-contacto{
  width: 100%;
  display: block;
  margin: 0px auto;
}

.box-contacto p{
  font-size: 13px;
}

@media(min-width:800px){
  .box-contacto{
    width: 800px;
  }

  .box-contacto p{
    font-size: 14px;
  }
}

.wrap-title-contacto{
  width: 600px;
  background-color: white;
  margin: 0px auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrap-title-contacto img{
  width: 200px;
}

.wrap-title-contacto h2{
  margin-top: 50px;
}

.wrapper-info-contact{
  background-color: white;
  margin-top: 20px;
  padding:20px;
}


.icon-input{
	display: flex;
}

.icon-input .icon{
	padding-left: 8px;
  background-color: #255992;
  color: white;
	padding-right: 8px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  margin-right: -2px;
  z-index: 1;
}

.icon-up{
	background-color: #255992;
    color: white;
	padding-left: 9px;
	padding-right: 9px;
	border-radius: 5px;
	margin-left: -2px;
}

.icon-input i{
	margin-top: 12px;
}

.mandatory{
  color: red;
}

.info-resources{
  list-style: none;
  padding-left: 0px;
}

.info-resources .title-info{
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 900;
}

.info-resources .sentence-info{
  margin-left: 15px;
  font-size: 14px;
}

#ecommerce-products{
  margin-bottom: 0px;
}


@media(min-width:600px){
  #ecommerce-products{
    margin-bottom: 80px;
  }
}


/*========================================================
        ESTILOS PAGINA ACCOUNT
=========================================================*/

.account-title{
  margin-top: 30px;
  margin-bottom: 30px;
}

#account-box{
  margin-bottom: 60px;
}

#account-box a{
  color: black;
}

#account-box a:hover{
  color: black;
  text-decoration: none;
}

/*========================================================
        ESTILOS PAGINA MIS PEDIDOS
=========================================================*/

.bread-settings{
  padding-left: 0px;
  list-style: none;
  display: flex;
  margin-top: 20px;
}

.bread-settings li {
  margin-left: 5px;
  margin-right: 5px;
  color: #c45500;
}

.bread-settings li a{
  color: #255992 !important;
}

.bread-settings li a:hover{
  color: #255992 !important;
  text-decoration: none;
}


.box-pedidos{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 3px;
  margin-bottom: 25px;
  padding: 15px;
}

.box-pedidos img{
  width: 110px;
}

.box-pedidos p{
  font-size: 13px;
  margin-bottom: 4px;
}

.box-pedidos .aprobada{
  color: #1b9a59 !important;
  font-size: 13px;
}

.box-pedidos .pendiente{
  color: orangered !important;
  font-size: 13px;
}

.box-pedidos .cancelada{
  color: red !important;
  font-size: 13px;
}

.header-list-pedidos{
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.header-list-pedidos li{
  margin-left: 15px;
  margin-right: 15px;
}

.header-list-pedidos li p{
  margin-bottom: 3px;
  font-size: 13px;
}

/**   ESTILOS SHOPPING CART **/

#shop-cart{
  display: none;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
}

#cotizacion-new-view{
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
}

#cotizacion-new-view h1,#cotizacion-new-view h2{
  margin-bottom: 40px;
}

.img-cotizacion{
  width: 150px;
}

#cotizacion-new-view .form-check label{
  font-size: 13px;
}

.redirect-address{
  font-size: 19px;
  color: #255992;
}

.redirect-address:hover{
  color: #255992;
  text-decoration: underline;
}

.redirect-address i{
  color: orange !important;
  margin-right: 10px;
}

#direccion-box{
  padding: 20px;
  width: 600px;
  display: block;
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

#direccion-box .card-header{
  margin-bottom: 25px;
}

.image-radio {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 10px;
    margin-bottom: 0;
    outline: 0;
    padding: 15px;
    border-radius: 8px;
}
    
.image-radio input[type="radio"] {
    display: none;
}
.image-radio-checked {
    border-color: #4783B0;
}
.image-radio .fa-check {
  position: absolute;
  color: green;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-radio-checked .fa-check {
  display: block !important;
  visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
}

.add-more-address{
  height: 300px;
  border-radius: 4px;
  border: 1px #ddd solid;
  border-width: 1px;
  box-sizing: border-box;
  border-color: #C7C7C7;
  box-shadow: 0 2px 1px 0 rgb(0 0 0 / 16%);
  border-style: solid;
}

.address{
  padding: 15px;
}

.add-more-address i{
  margin-right: 10px;
}

.add-more-address p{
  margin-bottom: 3px;
  color: black;
  font-size: 13px;
}

.dot-box{

  border-radius: 4px;
  border: 1px #ddd solid;
  border-style: dashed;
  border-width: 2px;
  box-sizing: border-box;
  border-color: #C7C7C7;
  box-shadow: 0 0 0 0 !important;

}

.favorite-address{
  position: absolute;
  right: 15px;
  top: 10px;
  color: orangered;
}

.actions-address{
  margin-top: 30px;
  display: flex;
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0px;
}

.actions-address li{
  margin-right: 8px;
  margin-left: 8px;
  font-size: 13px;
}

.actions-address li a{
  color: #255992 !important;
  font-weight: 600;
}


.head-direcciones{
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.head-direcciones h5{
  color: #255992;
  margin-bottom: 0px;
}

.separator{
  width: 100%;
  margin-bottom: 30px;
}

.info-product-cart{
  border-width: 0px;
  padding: 10px;
  background-color: #255992;
  color: white;
  margin-right: 10px;
  border-radius: 8px;
}

.info-product-cart i, .info-product-cotizar i{
  margin-right: 10px;
}

.info-product-cotizar{
  border: 1px solid orangered;
  border-radius: 8px;
  margin-left: 10px;
  color: #255992;
  padding: 10px;
}

.btn-pedidos{
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.detail-pedido{
  background-color: #255992;
  color: white !important;
  margin-bottom: 10px;
}

.request-pedido{
  border: 1px solid orangered;
  color: #255992;
}

.account-m
{
  margin-top: 15px;
  margin-bottom: 25px;
}

.customImgSilder{
  height: 500px;
}

@media (min-width: 1000px){
  .customImgSilder{
    height: 600px;
  }
}

.mobile-row{
  margin-left: -15px;
  margin-right: -15px;
}

.mobile-menu{
  display: none;
}

.desktop-menu{
  display: block;
}


@media(max-width: 500px){
  .mobile-row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .mobile-menu{
    display: block;
  }

  .desktop-menu{
    display: none;
  }
}



